{extend name="public/base" /}
{block name="mybody"}
<div style="margin-top:120px;">
	<form class="form" name="form1" role="form" action="" method="post" enctype="multipart/form-data">
	    <div class="form-group">
	        <div>
	            <label for="image" class="text-center btn btn-info btn-lg btn-block"><i class="glyphicon glyphicon-picture"> </i> 选取相片</label>
	            <span id="imgnum"></span>
	        </div>
	        <div style="display: none;">
	            <input type="file" id="image" name="image[]" multiple="multiple" accept=image/*>
	        </div>
	    </div>
	     <div class="form-group">
	        <p class="help-block red">* 必填一次最多9张图片</p>
	     </div>
	    <div class="form-group">
	        <div>
	            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submit_uploads(this)">确定上传</button>
	        </div>
	    </div>
	</form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
$('#image').on('change', function(){
    var num = $(this)[0].files.length;
    if(num > 9) {        
        $('#groupmodal').modal('show');
        $('#tip_content').html('不能超过9张图片');
        return ;
    }
    var arr = is_size($(this));
    var size = 0;
    for(var i =0;i<arr.length;i++){
        size +=arr[i]['size'];
    }
    if(size >= 94371840) {
        $('#groupmodal').modal('show');
        $('#tip_content').html('文件太大,总和不能超过90M');
        return ;
    }

    $('#imgnum').html('已选择'+num+'张图片');
});
function submit_uploads(obj)
{
    if($('#image').val() == ''){
        $('#groupmodal').modal('show');
        $('#tip_content').html('你没有选取图片');
        return ;
    }
    obj.disabled = true;
    $(obj).html('正在上传中...'); 
    document.form1.submit();
    $('#loading').modal('show');
    $('a').click(function(){
        return false;
    });
    $('button').attr('disabled',true);

}
//判断文件大小
function is_size(obj)
{
    return obj[0].files;
}
</script>
{/block}
