<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<button onclick="window.location.reload();">刷新</button>
	<p>{$show_msg['mcontent']}</p>
	<span>{$show_msg['maddby']}</span>
	<span>{$show_msg['addtime']|date='Y-m-d H:i:s',###}</span>
	<p>共{$count}留言</p>
	<div>
	<form method="post" action="{:url('index/index/addmsg')}">
		<textarea name="mcontent"></textarea>
		<input name="maddby" type="text">
		<input name="bgimg" type="hidden">
		<button type="submit">提交</button>
	</form>
</div>
</body>
</html>