<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
	<meta content="yes"name="apple-mobile-web-app-capable"/>
	<meta content="black"name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no"name="format-detection"/>
	<meta content="email=no"name="format-detection"/>
	<title>{block name="title"}留言墙{/block}</title>

    <link href="__ADMIN_PUBLIC__/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN_PUBLIC__/../my/my.css" rel="stylesheet">
</head>
<body>
	<div class="content">
	{block name="mybody"}Welcome!
	{/block}
	</div>
	    <!-- jQuery -->
    <script src="__ADMIN_PUBLIC__/vendor/jquery/jquery.min.js"></script>
    <script src="__ADMIN_PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
	{block name="js"}
	{/block}
</body>
</html>